.HorizontalNumbers {
    background-color: black;
    width: 895px;
    height: 30px;
    display: inline-grid;
    color: #fafafa;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;  
    grid-template-columns: 45px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px;
    text-align: center;
    font-weight: 600; 
}

.HorizontalNumder0 {
    color: black;
}
