.footerElements {
    margin-top: 0px;
    background-color: black;
    width: 895px;
    height: 174px;
    display: inline-grid;
    color: #fafafa;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; 
    grid-template-rows: 30.2px 48.2px 48.2px 48.2px;
    grid-template-columns: 45px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px; 
}

.elementsF {
    display: inline-grid;
    font-size: 20px;
    color: #1d1f1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800; 
    text-align: center;
    grid-template-rows: 30.2px 48.2px 48.2px 48.2px;
    grid-template-columns: 45px 77.6px 13.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 64.6px; 
}

.name {
    font-size: 7px;
    font-weight: 900;
}

.copyright {
    color: white;
    font-size: 10px;
    text-align: right;
    margin-left: -60px;
    margin-top: -20%;
    font-weight: 100;
    grid-area: 5/1/5/19;
}

.label1 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: -20px;
    margin-top: 1%;
    font-weight: 100;
    grid-area: 2/2/2/2;
}

.label2 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: -20px;
    margin-top: 2%;
    font-weight: 100;
    grid-area: 3/2/3/2;
}

.elementsViewF {
    margin-left: 2px;
    width: 44.6px;
    height: 47.2px;  
}

.elementsActinide {
    margin-top: 0.6px;
    background-color: #de536a;
}

.elementsLanthanide {
    background-color: #5bb1a6;
}

.element57 {
    grid-area: 2/4/2/4;
}

.element58 {
    grid-area: 2/5/2/5;
}

.element59 {
    grid-area: 2/6/2/6;
}

.element60 {
    grid-area: 2/7/2/7;
}

.element61 {
    grid-area: 2/8/2/8;
}

.element62 {
    grid-area: 2/9/2/9;
}

.element63 {
    grid-area: 2/10/2/10;
}

.element64 {
    grid-area: 2/11/2/11;
}

.element65 {
    grid-area: 2/12/2/12;
}

.element66 {
    grid-area: 2/13/2/13;
}

.element67 {
    grid-area: 2/14/2/14;
}

.element68 {
    grid-area: 2/15/2/15;
}

.element69 {
    grid-area: 2/16/2/16;
}

.element70 {
    grid-area: 2/17/2/17;
}

.element71 {
    grid-area: 2/18/2/18;
}

.element89 {
    grid-area: 3/4/3/4;
}

.element90 {
    grid-area: 3/5/3/5;
}

.element91 {
    grid-area: 3/6/3/6;
}

.element92 {
    grid-area: 3/7/3/7;
}

.element93 {
    grid-area: 3/8/3/8;
}

.element94 {
    grid-area: 3/9/3/9;
}

.element95 {
    grid-area: 3/10/3/10;
}

.element96 {
    grid-area: 3/11/3/11;
}

.element97 {
    grid-area: 3/12/3/12;
}

.element98 {
    grid-area: 3/13/3/13;
}

.element99 {
    grid-area: 3/14/3/14;
}

.element100 {
    grid-area: 3/15/3/15;
}

.element101 {
    grid-area: 3/16/3/16;
}

.element102 {
    grid-area: 3/17/3/17;
}

.element103 {
    grid-area: 3/18/3/18;
}
