.description {
    margin-top: -57.2%;
    margin-left: 15.25%;
    background-color: black;
    width: 273.6px;
    height: 140px;
    display: inline-grid;
    color: #fafafa;
    gap: 40px 34px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;  
}

.hrA {
    margin-top: -244px;
    margin-left: 75px;
    font-size: 3px;
    color: #ffffff;
}

.circleA {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -402.5px;
    margin-left: 93px;
}

.circleS {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -407.5px;
    margin-left: 121.5px;
}

.circleN {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -421px;
    margin-left: 169px;
}

.circleM {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -447.5px;
    margin-left: 121.5px;
}

.hrS {
    margin-top: -249px;
    margin-left: 78px;
    font-size: 3px;
    color: #ffffff;
}

.hrN {
    margin-top: -263px;
    margin-left: 170px;
    font-size: 3px;
    color: #ffffff;
}

.hrM {
    margin-top: -289px;
    margin-left: 78px;
    font-size: 3px;
    color: #ffffff;
}

.cell {
    width: 90px;
    height: 95px;
    background-color: #c665c9;
    margin-top: 6%;
    margin-left: 36%;
    text-align: center;
}

.symbolH {
    font-size: 55px;
    color: #21271f;
    margin-top: -47%;
    margin-left: 46%;
}

.nameH {
    font-size: 12px;
    color: #21271f;
    margin-top: -39%;
    margin-left: 43%;
    font-weight: 800;
}

.atomicMassH {
    font-size: 11px;
    color: #21271f;
    margin-top: -49%;
    margin-left: 47%;
    font-weight: 800;
}
