.Colors {
    margin-top: -57.2%;
    margin-left: 45.9%;
    background-color: white;
    width: 182.4px;
    height: 141px;
    display: inline-grid;
    color: #fafafa;
    gap: 40px 34px;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;  
}