.table-box {
    width: 900px;
    height: 620px;
    background-color: black;
    margin: auto;
    position: fixed;
    top: 7%;
    left: 21%;
    box-shadow: 0 5px 15px;
}

h1 {
    font-size: 42px;
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin-top: -20px;
}

.hnumbers {
    margin-top: 10px;
    display: inline-grid;
    color: #fafafa;
    gap: 40px 34px;
    margin-left: 7%;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;  
}

.item {
    grid-row-start: 1;
    grid-row-end: 18;
}

.vnumbers {
    display: inline-grid;
    color: #fafafa;
    margin-left: -91%;
    row-gap: 29px;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;  
}

.item1 {
    grid-column-start: 0;
    grid-column-end: 7;
}
.item0 {
    grid-column-start: 0;
    grid-column-end: 7;
    color: black;
}

.Square {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square1 {
    background-color: transparent;
    margin-left: 0;
}

#square2 {
    background-color: #c665c9;
    margin-left: 0;
    margin-top: 18px;
}

#square3 {
    background-color: #ff3d1d;
    margin-left: 0;
    margin-top: 0;
}

#square4 {
    background-color: #ff3d1d;
    margin-left: 0;
    margin-top: 0;
}

#square5 {
    background-color: #ff3d1d;
    margin-left: 0;
    margin-top: 0;
}

#square6 {
    background-color: #ff3d1d;
    margin-left: 0;
    margin-top: 0;
}

#square7 {
    background-color: #ff3d1d;
    margin-left: 0;
    margin-top: 0;
}

#square8 {
    background-color: #ff3d1d;
    margin-left: 0;
    margin-top: 0;
}

.sQuare {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square9 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square10 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 18px;
}

#square11 {
    background-color: #f58e06;
    margin-left: -9px;
    margin-top: 0;
}

#square12 {
    background-color: #f58e06;
    margin-left: -9px;
    margin-top: 0;
}

#square13 {
    background-color: #f58e06;
    margin-left: -9px;
    margin-top: 0;
}

#square14 {
    background-color: #f58e06;
    margin-left: -9px;
    margin-top: 0;
}

#square15 {
    background-color: #f58e06;
    margin-left: -9px;
    margin-top: 0;
}

#square16 {
    background-color: #f58e06;
    margin-left: -9px;
    margin-top: 0;
}

.sqUare {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square17 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square18 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square19 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square20 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square21 {
    background-color: #fddb09;
    height: 42.5px;
    margin-left: -19px;
    margin-top: 18px;
}

#square22 {
    background-color: #fddb09;
    margin-top: -0.5px;
    margin-left: -19px;
}

#square23 {
    background-color: #5eaea1;
    margin-left: -19px;
    margin-top: 0px;
}

#square24 {
    background-color: #dd526d;
    margin-left: -19px;
    margin-top: 0px;
}

.squAre {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square25 {
    background-color: transparent;
    margin-left: -19px;
    margin-top: 0;
}

#square26 {
    background-color: transparent;
    margin-left: -19px;
    margin-top: 0;
}

#square27 {
    background-color: transparent;
    margin-left: -19px;
    margin-top: 0;
}

#square28 {
    background-color: transparent;
    margin-left: -19px;
    margin-top: 0;
}

#square29 {
    background-color: #fddb09;
    margin-left: -28.5px;
    margin-top: 18px;
}

#square30 {
    background-color: #fddb09;
    margin-left: -28.5px;
    margin-top: 0;
}

#square31 {
    background-color: #fddb09;
    margin-left: -28.5px;
    margin-top: 0;
}

#square32 {
    background-color: #fddb09;
    margin-left: -28.5px;
    margin-top: 0;
}

.squaRe {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square33 {
    background-color: transparent;
    margin-left: 0;
}

#square34 {
    background-color: transparent;
    margin-left: 0;
}

#square35 {
    background-color: transparent;
    margin-left: 0;
}

#square36 {
    background-color: transparent;
    margin-left: 0;
}

#square37 {
    background-color: #fddb09;
    margin-left: -38px;
    margin-top: 54px;
}

#square38 {
    background-color: #fddb09;
    margin-left: -38px;
    margin-top: 0;
}

#square39 {
    background-color: #fddb09;
    margin-left: -38px;
    margin-top: 0;
}

#square40 {
    background-color: #fddb09;
    margin-left: -38px;
    margin-top: 0;
}

.squarE {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square41 {
    background-color: transparent;
    margin-left: -38px;
    margin-top: 0;
}

#square42 {
    background-color: transparent;
    margin-left: -38px;
    margin-top: 0;
}

#square43 {
    background-color: transparent;
    margin-left: -38px;
    margin-top: 0;
}

#square44 {
    background-color: transparent;
    margin-left: -38px;
    margin-top: 0;
}

#square45 {
    background-color: #fddb09;
    margin-left: -48px;
    margin-top: 18px;
}

#square46 {
    background-color: #fddb09;
    margin-left: -48px;
    margin-top: 0;
}

#square47 {
    background-color: #fddb09;
    margin-left: -48px;
    margin-top: 0;
}

#square48 {
    background-color: #fddb09;
    margin-left: -48px;
    margin-top: 0;
}

.square1 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square49 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square50 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square51 {
    background-color: transparent;
    margin-left: -0;
    margin-top: 0;
}

#square52 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square53 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 18px;
}


#square54 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 0;
}


#square55 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 0;
}


#square56 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 0;
}

.square1 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square49 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square50 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square51 {
    background-color: transparent;
    margin-left: -0;
    margin-top: 0;
}

#square52 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square53 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 18px;
}


#square54 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 0;
}


#square55 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 0;
}


#square56 {
    background-color: #fddb09;
    margin-left: -57px;
    margin-top: 0;
}

.square2 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square57 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square58 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square59 {
    background-color: transparent;
    margin-left: -0;
    margin-top: 0;
}

#square60 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square61 {
    background-color: #fddb09;
    margin-left: -67px;
    margin-top: 18px;
}


#square62 {
    background-color: #fddb09;
    margin-left: -67px;
    margin-top: 0;
}


#square63 {
    background-color: #fddb09;
    margin-left: -67px;
    margin-top: 0;
}


#square64 {
    background-color: #fddb09;
    margin-left: -67px;
    margin-top: 0;
}

.square3 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square65 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square66 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square67 {
    background-color: transparent;
    margin-left: -0;
    margin-top: 0;
}

#square68 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square69 {
    background-color: #fddb09;
    margin-left: -76.5px;
    margin-top: 18px;
}


#square70 {
    background-color: #fddb09;
    margin-left: -76.5px;
    margin-top: 0;
}


#square71 {
    background-color: #fddb09;
    margin-left: -76.5px;
    margin-top: 0;
}


#square72 {
    background-color: #fddb09;
    margin-left: -76.5px;
    margin-top: 0;
}

.square4 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square73 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square74 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square75 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square76 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square77 {
    background-color: #fddb09;
    margin-left: -86px;
    margin-top: 18px;
}


#square78 {
    background-color: #fddb09;
    margin-left: -86px;
    margin-top: 0;
}


#square79 {
    background-color: #fddb09;
    margin-left: -86px;
    margin-top: 0;
}


#square80 {
    background-color: #fddb09;
    margin-left: -86px;
    margin-top: 0;
}

.square5 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square81 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square82 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square83 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square84 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square85 {
    background-color: #fddb09;
    margin-left: -96px;
    margin-top: 18px;
}


#square86 {
    background-color: #fddb09;
    margin-left: -96px;
    margin-top: 0;
}


#square87 {
    background-color: #fddb09;
    margin-left: -96px;
    margin-top: 0;
}


#square88 {
    background-color: #fddb09;
    margin-left: -96px;
    margin-top: 0;
}

.square6 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square89 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square90 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square91 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square92 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square93 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 18px;
}


#square94 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 0;
}


#square95 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 0;
}


#square96 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 0;
}

.square7 {
    margin-top: -30%;
    width: 40px;
    height: 42px;
    display: inline-grid;
    margin-left: 8px;
    margin-bottom: 6%;
}

#square97 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0;
}

#square98 {
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

#square99 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}

#square100 {
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
}


#square101 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 18px;
}


#square102 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 0;
}


#square103 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 0;
}


#square104 {
    background-color: #fddb09;
    margin-left: -105px;
    margin-top: 0;
}