.description {
    margin-top: -57.2%;
    margin-left: 15.25%;
    background-color: black;
    width: 273.6px;
    height: 140px;
    display: inline-grid;
    color: #fafafa;
    gap: 40px 34px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;  
}

.cell {
    width: 90px;
    height: 95px;
    background-color: #c665c9;
    margin-top: 6%;
    margin-left: 36%;
    text-align: center;
}

.symbolH {
    font-size: 55px;
    color: #21271f;
    margin-top: -47%;
    margin-left: 46%;
}

.nameH {
    font-size: 12px;
    color: #21271f;
    margin-top: -39%;
    margin-left: 43%;
    font-weight: 800;
}

.atomicMassH {
    font-size: 11px;
    color: #21271f;
    margin-top: -49%;
    margin-left: 47%;
    font-weight: 800;
}
