.elementsTable {
    margin-left: 5%;
    margin-top: -37.8%;
    display: inline-grid;
    font-size: 23px;
    color: #1d1f1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800; 
    grid-template-columns: 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 
    45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px;
    grid-template-rows: 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px;
    text-align: center;
}

.elementsView {
    width: 44px;
    height: 46.6px; 
}

.name {
    font-size: 7px;
    font-weight: 900;
}

.elementsNonmetal {
    background-color: #c665c9;
}

.elemetnsAlkaliMetal {
    background-color: #f94124;
}

.elementsAlkalineEarth {
    background-color: #eb9100;
}

.elementsTransitionMetal {
    background-color: #fcdd10;
}

.elementsNobleGas {
    background-color: #c49754;
}

.elementsSemimetal {
    background-color: #0dc9e6;
}

.elementsHalogen {
    background-color: #f20a70;
}

.elementsBasicMetal {
    background-color: #89d01c;
}

.element1 {
    grid-area: 1/1/1/1;
}

.element6 {
    grid-area: 2/14/2/14;
}

.element7 {
    grid-area: 2/15/2/15;
}

.element8 {
    grid-area: 2/16/2/16;
}

.element15 {
    grid-area: 3/15/3/15;
}

.element16 {
    grid-area: 3/16/3/16;
}

.Element34 {
    grid-area: 4/16/4/16;
}

.Element3 {
    grid-area: 2/1/2/1;
}

.Element11 {
    grid-area: 3/1/3/1;
}

.Element19 {
    grid-area: 4/1/4/1;
}

.Element37 {
    grid-area: 5/1/5/1;
}

.Element55 {
    grid-area: 6/1/6/1;
}

.Element87 {
    grid-area: 7/1/7/1;
}

.Element4 {
    grid-area: 2/2/2/2;
}

.Element12 {
    grid-area: 3/2/3/2;
}

.Element20 {
    grid-area: 4/2/4/2;
}

.Element38 {
    grid-area: 5/2/5/2;
}

.Element56 {
    grid-area: 6/2/6/2;
}

.Element88 {
    grid-area: 7/2/7/2;
}

.Element21 {
    grid-area: 4/3/4/3;
}

.Element22 {
    grid-area: 4/4/4/4;
}

.Element23 {
    grid-area: 4/5/4/5;
}

.Element24 {
    grid-area: 4/6/4/6;
}

.Element25 {
    grid-area: 4/7/4/7;
}

.Element26 {
    grid-area: 4/8/4/8;
}

.Element27 {
    grid-area: 4/9/4/9;
}

.Element28 {
    grid-area: 4/10/4/10;
}

.Element29 {
    grid-area: 4/11/4/11;
}

.Element30 {
    grid-area: 4/12/4/12;
}

.Element39 {
    grid-area: 5/3/5/3;
}

.Element40 {
    grid-area: 5/4/5/4;
}

.Element41 {
    grid-area: 5/5/5/5;
}

.Element42 {
    grid-area: 5/6/5/6;
}

.Element43 {
    grid-area: 5/7/5/7;
}

.Element44 {
    grid-area: 5/8/5/8;
}

.Element45 {
    grid-area: 5/9/5/9;
}

.Element46 {
    grid-area: 5/10/5/10;
}

.Element47 {
    grid-area: 5/11/5/11;
}

.Element48 {
    grid-area: 5/12/5/12;
}

.Element0 {
    font-size: 14px;
    grid-area: 6/3/6/3;
}

.Element00 {
    font-size: 14px;
    grid-area: 7/3/7/3;
}

.Element72 {
    grid-area: 6/4/6/4;
}

.Element73 {
    grid-area: 6/5/6/5;
}

.Element74 {
    grid-area: 6/6/6/6;
}

.Element75 {
    grid-area: 6/7/6/7;
}

.Element76 {
    grid-area: 6/8/6/8;
}

.Element77 {
    grid-area: 6/9/6/9;
}

.Element78 {
    grid-area: 6/10/6/10;
}

.Element79 {
    grid-area: 6/11/6/11;
}

.Element80 {
    grid-area: 6/12/6/12;
}

.Element104 {
    grid-area: 7/4/7/4;
}

.Element105 {
    grid-area: 7/5/7/5;
}

.Element106 {
    grid-area: 7/6/7/6;
}

.Element107 {
    grid-area: 7/7/7/7;
}

.Element108 {
    grid-area: 7/8/7/8;
}

.Element109 {
    grid-area: 7/9/7/9;
}

.Element110 {
    grid-area: 7/10/7/10;
}

.Element111 {
    grid-area: 7/11/7/11;
}

.Element112 {
    grid-area: 7/12/7/12;
}

.Element2 {
    grid-area: 1/18/1/18;
}

.Element10 {
    grid-area: 2/18/2/18;
}

.Element18 {
    grid-area: 3/18/3/18;
}

.Element36 {
    grid-area: 4/18/4/18;
}

.Element54 {
    grid-area: 5/18/5/18;
}

.Element86 {
    grid-area: 6/18/6/18;
}

.Element118 {
    grid-area: 7/18/7/18;
}

.Element5 {
    grid-area: 2/13/2/13;
}

.Element14 {
    grid-area: 3/14/3/14;
}

.Element32 {
    grid-area: 4/14/4/14;
}

.Element33 {
    grid-area: 4/15/4/15;
}

.Element51 {
    grid-area: 5/15/5/15;
}

.Element52 {
    grid-area: 5/16/5/16;
}

.Element84 {
    grid-area: 6/16/6/16;
}

.Element9 {
    grid-area: 2/17/2/17;
}

.Element17 {
    grid-area: 3/17/3/17;
}

.Element35 {
    grid-area: 4/17/4/17;
}

.Element53 {
    grid-area: 5/17/5/17;
}

.Element85 {
    grid-area: 6/17/6/17;
}

.Element117 {
    grid-area: 7/17/7/17;
}

.Element13 {
    grid-area: 3/13/3/13;
}

.Element31 {
    grid-area: 4/13/4/13;
}

.Element49 {
    grid-area: 5/13/5/13;
}

.Element50 {
    grid-area: 5/14/5/14;
}

.Element81 {
    grid-area: 6/13/6/13;
}

.Element82 {
    grid-area: 6/14/6/14;
}

.Element83 {
    grid-area: 6/15/6/15;
}

.Element113 {
    grid-area: 7/13/7/13;
}

.Element114 {
    grid-area: 7/14/7/14;
}

.Element115 {
    grid-area: 7/15/7/15;
}

.Element116 {
    grid-area: 7/16/7/16;
}
