.Elements1 {
    margin-top: -37.75%;
    margin-left: 5%;
    width: 91.5px;
    height: 338px;
    background-color: black;
    grid-template-columns: 45.6px 45.6px;
    grid-template-rows: 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px;
    display: inline-grid;
}

.Elements2 {
    margin-top: -21.6%;
    margin-left: 15.3%;
    width: 456px;
    height: 192.5px;
    background-color: black;
    display: inline-grid;
    grid-template-columns: 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px;
    grid-template-rows: 48.2px 48.2px 48.2px 48.2px;
}

.Elements3 {
    margin-top: -37.75%;
    margin-left: 66.25%;
    width: 273px;
    height: 338px;
    background-color: black;
    display: inline-grid;
    grid-template-columns: 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px;
    grid-template-rows: 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px;
    
}

.Elements  {
    display: inline-grid;
    font-size: 23px;
    color: #1d1f1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800; 
    text-align: center;
    grid-template-columns: 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px;
    grid-template-rows: 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px;
}

.Element1  {
    grid-area: 1/1/1/1;
    width: 44px;
    height: 47px;
    background-color: #c665c9;
}

#Name {
    font-size: 7px;
    font-weight: 900;
}

.Element6 {
    grid-area: 2/2/2/2;
    width: 44px;
    height: 46.5px;
    background-color: #c665c9;
}

.Element7 {
    grid-area: 2/3/2/3;
    width: 44px;
    height: 46.5px;
    background-color: #c665c9;
}

.Element8 {
    grid-area: 2/4/2/4;
    width: 44px;
    height: 46.5px;
    background-color: #c665c9;
}

.Element15 {
    grid-area: 3/3/3/3;
    width: 44px;
    height: 46.5px;
    background-color: #c665c9;
}

.Element16 {
    grid-area: 3/4/3/4;
    width: 44px;
    height: 46.5px;
    background-color: #c665c9;
}

.Element34 {
    grid-area: 4/4/4/4;
    width: 44px;
    height: 46.5px;
    background-color: #c665c9;
}

.Element3 {
    grid-area: 2/1/2/1;
    width: 44px;
    height: 46.5px;
    background-color: #f94124;
}

.Element11 {
    grid-area: 3/1/3/1;
    width: 44px;
    height: 46.5px;
    background-color: #f94124;
}

.Element19 {
    grid-area: 4/1/4/1;
    width: 44px;
    height: 46.5px;
    background-color: #f94124;
}

.Element37 {
    grid-area: 5/1/5/1;
    width: 44px;
    height: 46.5px;
    background-color: #f94124;
}

.Element55 {
    grid-area: 6/1/6/1;
    width: 44px;
    height: 46.5px;
    background-color: #f94124;
}

.Element87 {
    grid-area: 7/1/7/1;
    width: 44px;
    height: 46.5px;
    background-color: #f94124;
}

.Element4 {
    grid-area: 2/2/2/2;
    width: 44px;
    height: 46.5px;
    background-color: #eb9100;
}

.Element12 {
    grid-area: 3/2/3/2;
    width: 44px;
    height: 46.5px;
    background-color: #eb9100;
}

.Element20 {
    grid-area: 4/2/4/2;
    width: 44px;
    height: 46.5px;
    background-color: #eb9100;
}

.Element38 {
    grid-area: 5/2/5/2;
    width: 44px;
    height: 46.5px;
    background-color: #eb9100;
}

.Element56 {
    grid-area: 6/2/6/2;
    width: 44px;
    height: 46.5px;
    background-color: #eb9100;
}

.Element88 {
    grid-area: 7/2/7/2;
    width: 44px;
    height: 46.5px;
    background-color: #eb9100;
}

.Element21 {
    grid-area: 1/1/1/1;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element22 {
    grid-area: 1/2/1/2;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element23 {
    grid-area: 1/3/1/3;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element24 {
    grid-area: 1/4/1/4;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element25 {
    grid-area: 1/5/1/5;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element26 {
    grid-area: 1/6/1/6;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element27 {
    grid-area: 1/7/1/7;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element28 {
    grid-area: 1/8/1/8;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element29 {
    grid-area: 1/9/1/9;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element30 {
    grid-area: 1/10/1/10;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element39 {
    grid-area: 2/1/2/1;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element40 {
    grid-area: 2/2/2/2;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element41 {
    grid-area: 2/3/2/3;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element42 {
    grid-area: 2/4/2/4;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element43 {
    grid-area: 2/5/2/5;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element44 {
    grid-area: 2/6/2/6;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element45 {
    grid-area: 2/7/2/7;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element46 {
    grid-area: 2/8/2/8;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element47 {
    grid-area: 2/9/2/9;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element48 {
    grid-area: 2/10/2/10;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element0 {
    font-size: 14px;
    grid-area: 3/1/3/1;
    width: 44px;
    height: 46.5px;
    background-color: #5bb1a6;
}

.Element00 {
    font-size: 14px;
    grid-area: 4/1/4/1;
    width: 44px;
    height: 46.5px;
    background-color: #de536a;
}

.Element72 {
    grid-area: 3/2/3/2;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element73 {
    grid-area: 3/3/3/3;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element74 {
    grid-area: 3/4/3/4;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element75 {
    grid-area: 3/5/3/5;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element76 {
    grid-area: 3/6/3/6;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element77 {
    grid-area: 3/7/3/7;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element78 {
    grid-area: 3/8/3/8;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element79 {
    grid-area: 3/9/3/9;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element80 {
    grid-area: 3/10/3/10;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element104 {
    grid-area: 4/2/4/2;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element105 {
    grid-area: 4/3/4/3;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element106 {
    grid-area: 4/4/4/4;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element107 {
    grid-area: 4/5/4/5;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element108 {
    grid-area: 4/6/4/6;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element109 {
    grid-area: 4/7/4/7;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element110 {
    grid-area: 4/8/4/8;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element111 {
    grid-area: 4/9/4/9;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element112 {
    grid-area: 4/10/4/10;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}

.Element2 {
    grid-area: 1/6/1/6;
    width: 44px;
    height: 46.5px;
    background-color: #fcdd10;
}
