.name {
    font-size: 7px;
    font-weight: 900;
}

.label1 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: 27px;
    margin-top: 1%;
    font-weight: 100;
    grid-area: 9/1/9/2;
}

.label2 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: 36px;
    margin-top: 2%;
    font-weight: 100;
    grid-area: 10/1/10/2;
}

.label3 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: 45px;
    margin-top: 28%;
    font-weight: 100;
    grid-area: 9/1/9/2;
}

.label4 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: 45px;
    margin-top: 28%;
    font-weight: 100;
    grid-area: 10/1/10/2;
}

.elementsViewF {
    width: 44px;
    height: 46.6px;
}

.elementsActinide {
    background-color: #de536a;
}

.elementsLanthanide {
    background-color: #5bb1a6;
}

.element57 {
    grid-area: 9/3/9/3;
}

.element58 {
    grid-area: 9/4/9/4;
}

.element59 {
    grid-area: 9/5/9/5;
}

.element60 {
    grid-area: 9/6/9/6;
}

.element61 {
    grid-area: 9/7/9/7;
}

.element62 {
    grid-area: 9/8/9/8;
}

.element63 {
    grid-area: 9/9/9/9;
}

.element64 {
    grid-area: 9/10/9/10;
}

.element65 {
    grid-area: 9/11/9/11;
}

.element66 {
    grid-area: 9/12/9/12;
}

.element67 {
    grid-area: 9/13/9/13;
}

.element68 {
    grid-area: 9/14/9/14;
}

.element69 {
    grid-area: 9/15/9/15;
}

.element70 {
    grid-area: 9/16/9/16;
}

.element71 {
    grid-area: 9/17/9/17;
}

.element89 {
    grid-area: 10/3/10/3;
}

.element90 {
    grid-area: 10/4/10/4;
}

.element91 {
    grid-area: 10/5/10/5;
}

.element92 {
    grid-area: 10/6/10/6;
}

.element93 {
    grid-area: 10/7/10/7;
}

.element94 {
    grid-area: 10/8/10/8;
}

.element95 {
    grid-area: 10/9/10/9;
}

.element96 {
    grid-area: 10/10/10/10;
}

.element97 {
    grid-area: 10/11/10/11;
}

.element98 {
    grid-area: 10/12/10/12;
}

.element99 {
    grid-area: 10/13/10/13;
}

.element100 {
    grid-area: 10/14/10/14;
}

.element101 {
    grid-area: 10/15/10/15;
}

.element102 {
    grid-area: 10/16/10/16;
}

.element103 {
    grid-area: 10/17/10/17;
}
