.FooterElements {
    margin-top: 0px;
    background-color: black;
    width: 895px;
    height: 174px;
    display: inline-grid;
    color: #fafafa;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; 
    grid-template-rows: 30.2px 48.2px 48.2px 48.2px;
    grid-template-columns: 45px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px; 
}

.ElementsF  {
    display: inline-grid;
    font-size: 23px;
    color: #1d1f1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800; 
    text-align: center;
    grid-template-rows: 30.2px 48.2px 48.2px 48.2px;
    grid-template-columns: 45px 77.6px 13.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 64.6px; 
}

#Name {
    font-size: 7px;
    font-weight: 900;
}

#Copyright {
    color: #fdfdfd;
    font-size: 10px;
    text-align: right;
    margin-left: -20px;
    margin-top: 30%;
    font-weight: 100;
    grid-area: 4/19/4/19;
}

#Label1 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: -20px;
    margin-top: 1%;
    font-weight: 100;
    grid-area: 2/2/2/2;
}

#Label2 {
    color: #fdfdfd;
    font-size: 11.5px;
    text-align: right;
    margin-left: -20px;
    margin-top: 2%;
    font-weight: 100;
    grid-area: 3/2/3/2;
}

.Element57  {
    grid-area: 2/4/2/4;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element58  {
    grid-area: 2/5/2/5;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element59  {
    grid-area: 2/6/2/6;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element60  {
    grid-area: 2/7/2/7;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element61  {
    grid-area: 2/8/2/8;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element62  {
    grid-area: 2/9/2/9;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element63  {
    grid-area: 2/10/2/10;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element64  {
    grid-area: 2/11/2/11;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element65  {
    grid-area: 2/12/2/12;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element66  {
    grid-area: 2/13/2/13;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element67  {
    grid-area: 2/14/2/14;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element68  {
    grid-area: 2/15/2/15;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element69  {
    grid-area: 2/16/2/16;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element70  {
    grid-area: 2/17/2/17;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element71  {
    grid-area: 2/18/2/18;
    width: 44px;
    height: 47px;
    background-color: #5bb1a6;
}

.Element89  {
    margin-top: 1px;
    grid-area: 3/4/3/4;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element90  {
    margin-top: 1px;
    grid-area: 3/5/3/5;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element91  {
    margin-top: 1px;
    grid-area: 3/6/3/6;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element92  {
    margin-top: 1px;
    grid-area: 3/7/3/7;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element93  {
    margin-top: 1px;
    grid-area: 3/8/3/8;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element94  {
    margin-top: 1px;
    grid-area: 3/9/3/9;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element95  {
    margin-top: 1px;
    grid-area: 3/10/3/10;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element96  {
    margin-top: 1px;
    grid-area: 3/11/3/11;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element97  {
    margin-top: 1px;
    grid-area: 3/12/3/12;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element98  {
    margin-top: 1px;
    grid-area: 3/13/3/13;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element99  {
    margin-top: 1px;
    grid-area: 3/14/3/14;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element100  {
    margin-top: 1px;
    grid-area: 3/15/3/15;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element101  {
    margin-top: 1px;
    grid-area: 3/16/3/16;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element102  {
    margin-top: 1px;
    grid-area: 3/17/3/17;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

.Element103  {
    margin-top: 1px;
    grid-area: 3/18/3/18;
    width: 44px;
    height: 47px;
    background-color: #de536a;
}

