.table-box {
    width: 895px;
    height: 645px;
    background-color: black;
    position: fixed;
    top: 7%;
    left: 21%;
    box-shadow: 0 5px 15px;
    display: inline-grid;
    
}

.header-box {
    width: 895px;
    height: 103px;
    background-color: black;
}

h1 {
    font-size: 42px;
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    margin-top: -20px;
    text-align: center;
    width: 832px;
    color: #c1c1c1;
    background-color: #c1c1c1;
}
