.trianglesGrid {
    margin-left: 5%;
    margin-top: -55.6%;
    display: inline-grid;
    font-size: 23px;
    color: #1d1f1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800; 
    grid-template-columns: 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 
    45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px 45.6px;
    grid-template-rows: 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px 48.2px 30.2px 48.2px 48.2px;
}

.copyright {
    color: #fafafa;
    font-size: 10px;
    text-align: right;
    margin-left: 0px;
    font-weight: 100;
    grid-area: 12/17/12/19;
}

.atomicNumberA {
    font-size: 12px;
    font-weight: 100;
    grid-area: 1/3/1/4;
    color: #fafafa;
    margin-top: 20px;
    margin-left: 37px;
}

.atomicNumberN {
    font-size: 12px;
    font-weight: 100;
    grid-area: 1/3/1/4;
    color: #fafafa;
    margin-top: 33px;
    margin-left: 30px;
}

.atomicSymbol {
    font-size: 12px;
    font-weight: 100;
    grid-area: 2/3/2/4;
    color: #fafafa;
    text-align: right;
    margin-top: 8px;
    margin-left: 38px;
}

.atomicName {
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    grid-area: 2/8/2/8;
    color: #fafafa;
    margin-top: 33.5px;
    margin-left: -10.5px;
}

.atomicMass {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 100;
    text-align: right;
    grid-area: 3/4/3/4;
    color: #fafafa;
    margin-top: 0px;
    margin-left: -50px;
}

.number1H {
    grid-area: 1/5/1/5;
    font-size: 15px;
    transform: rotate(-45deg);
    color:#1d1f1c ;
    margin-top: 16px;
    margin-left: 2px;
    text-align: center;
}

.borderNumbers {
    display: block;
    height: 0;
    width: 0;
    border: 12px solid transparent;
    transform: rotate(135deg);
    margin-top: -24%;
    margin-left: -26%;
}

.borderNonmetal {
    border-top-color: #e3b3dd;
}

.borderNobleGas {
    border-top-color: #d6c59a;
}

.borderAlkaliMetal {
    border-top-color: #faa590;
}

.borderAlkalineEarth {
    border-top-color: #ffd18d;
}

.borderTransitionMetal {
    border-top-color: #ffff94;
}

.borderLanthanide {
    border-top-color: #bae5dc;
}

.borderActinide {
    border-top-color: #f5b8c7;
}

.borderHalogen {
    border-top-color: #f684b7;
}

.borderSemimetal {
    border-top-color: #7eeaec;
}

.borderBasicMetal {
    border-top-color: #c3eba5;
}

.numbers {
    font-size: 7px;
    transform: rotate(-42deg);
    color:#1d1f1c ;
    margin-top: -3px;
    margin-left: -4px;
    text-align: center;
    grid-template-rows: 30.2px 48.2px 48.2px;
}

.numbersL {
    text-align: center;
}

.numbersA {
    text-align: center;
}

.number1 {
    grid-area: 1/1/1/1;
}

.number2 {
    grid-area: 1/18/1/18;
}

.number3 {
    grid-area: 2/1/2/1;
}

.number4 {
    grid-area: 2/2/2/2;
}

.number5 {
    grid-area: 2/13/2/13;
}

.number6 {
    grid-area: 2/14/2/14;
}

.number7 {
    grid-area: 2/15/2/15;
}

.number8 {
    grid-area: 2/16/2/16;
}

.number9 {
    grid-area: 2/17/2/17;
}

.number10 {
    grid-area: 2/18/2/18;
}

.number11 {
    grid-area: 3/1/3/1;
}

.number12 {
    grid-area: 3/2/3/2;
}

.number13 {
    grid-area: 3/13/3/13;
}

.number14 {
    grid-area: 3/14/3/14;
}

.number15 {
    grid-area: 3/15/3/15;
}

.number16 {
    grid-area: 3/16/3/16;
}

.number17 {
    grid-area: 3/17/3/17;
}

.number18 {
    grid-area: 3/18/3/18;
}

.number19 {
    grid-area: 4/1/4/1;
}

.number20 {
    grid-area: 4/2/4/2;
}

.number21 {
    grid-area: 4/3/4/3;
}

.number22 {
    grid-area: 4/4/4/4;
}

.number23 {
    grid-area: 4/5/4/5;
}

.number24 {
    grid-area: 4/6/4/6;
}

.number25 {
    grid-area: 4/7/4/7;
}

.number26 {
    grid-area: 4/8/4/8;
}

.number27 {
    grid-area: 4/9/4/9;
}

.number28 {
    grid-area: 4/10/4/10;
}

.number29 {
    grid-area: 4/11/4/11;
}

.number30 {
    grid-area: 4/12/4/12;
}

.number31 {
    grid-area: 4/13/4/13;
}

.number32 {
    grid-area: 4/14/4/14;
}

.number33 {
    grid-area: 4/15/4/15;
}
.number34 {
    grid-area: 4/16/4/16;
}

.number35 {
    grid-area: 4/17/4/17;
}

.number36 {
    grid-area: 4/18/4/18;
}

.number37 {
    grid-area: 5/1/5/1;
}

.number38 {
    grid-area: 5/2/5/2;
}

.number39 {
    grid-area: 5/3/5/3;
}

.number40 {
    grid-area: 5/4/5/4;
}

.number41 {
    grid-area: 5/5/5/5;
}

.number42 {
    grid-area: 5/6/5/6;
}

.number43 {
    grid-area: 5/7/5/7;
}

.number44 {
    grid-area: 5/8/5/8;
}

.number45 {
    grid-area: 5/9/5/9;
}

.number46 {
    grid-area: 5/10/5/10;
}

.number47 {
    grid-area: 5/11/5/11;
}

.number48 {
    grid-area: 5/12/5/12;
}

.number49 {
    grid-area: 5/13/5/13;
}

.number50 {
    grid-area: 5/14/5/14;
}

.number51 {
    grid-area: 5/15/5/15;
}

.number52 {
    grid-area: 5/16/5/16;
}

.number53 {
    grid-area: 5/17/5/17;
}

.number54 {
    grid-area: 5/18/5/18;
}

.number55 {
    grid-area: 6/1/6/1;
}

.number56 {
    grid-area: 6/2/6/2;
}

.number57 {
    grid-area: 9/3/9/3;
}

.number58 {
    grid-area: 9/4/9/4;
}

.number59 {
    grid-area: 9/5/9/5;
}

.number60 {
    grid-area: 9/6/9/6;
}

.number61 {
    grid-area: 9/7/9/7;
}

.number62 {
    grid-area: 9/8/9/8;
}

.number63 {
    grid-area: 9/9/9/9;
}

.number64 {
    grid-area: 9/10/9/10;
}

.number65 {
    grid-area: 9/11/9/11;
}

.number66 {
    grid-area: 9/12/9/12;
}

.number67 {
    grid-area: 9/13/9/13;
}

.number68 {
    grid-area: 9/14/9/14;
}

.number69 {
    grid-area: 9/15/9/15;
}

.number70 {
    grid-area: 9/16/9/16;
}

.number71 {
    grid-area: 9/17/9/17;
}

.number72 {
    grid-area: 6/4/6/4;
}

.number73 {
    grid-area: 6/5/6/5;
}

.number74 {
    grid-area: 6/6/6/6;
}

.number75 {
    grid-area: 6/7/6/7;
}

.number76 {
    grid-area: 6/8/6/8;
}

.number77 {
    grid-area: 6/9/6/9;
}

.number78 {
    grid-area: 6/10/6/10;
}

.number79 {
    grid-area: 6/11/6/11;
}

.number80 {
    grid-area: 6/12/6/12;
}

.number81 {
    grid-area: 6/13/6/13;
}

.number82 {
    grid-area: 6/14/6/14;
}

.number83 {
    grid-area: 6/15/6/15;
}

.number84 {
    grid-area: 6/16/6/16;
}

.number85 {
    grid-area: 6/17/6/17;
}

.number86 {
    grid-area: 6/18/6/18;
}

.number87 {
    grid-area: 7/1/7/1;
}

.number88 {
    grid-area: 7/2/7/2;
}

.number89 {
    grid-area: 10/3/10/3;
}

.number90 {
    grid-area: 10/4/10/4;
}

.number91 {
    grid-area: 10/5/10/5;
}

.number92 {
    grid-area: 10/6/10/6;
}

.number93 {
    grid-area: 10/7/10/7;
}

.number94 {
    grid-area: 10/8/10/8;
}

.number95 {
    grid-area: 10/9/10/9;
}

.number96 {
    grid-area: 10/10/10/10;
}

.number97 {
    grid-area: 10/11/10/11;
}

.number98 {
    grid-area: 10/12/10/12;
}

.number99 {
    grid-area: 10/13/10/13;
}

.number100 {
    grid-area: 10/14/10/14;
}

.number101 {
    grid-area: 10/15/10/15;
}

.number102 {
    grid-area: 10/16/10/16;
}

.number103 {
    grid-area: 10/17/10/17;
}

.number104 {
    grid-area: 7/4/7/4;
}

.number105 {
    grid-area: 7/5/7/5;
}

.number106 {
    grid-area: 7/6/7/6;
}

.number107 {
    grid-area: 7/7/7/7;
}

.number108 {
    grid-area: 7/8/7/8;
}

.number109 {
    grid-area: 7/9/7/9;
}

.number110 {
    grid-area: 7/10/7/10;
}

.number111 {
    grid-area: 7/11/7/11;
}

.number112 {
    grid-area: 7/12/7/12;
}

.number113 {
    grid-area: 7/13/7/13;
}

.number114 {
    grid-area: 7/14/7/14;
}

.number115 {
    grid-area: 7/15/7/15;
}

.number116 {
    grid-area: 7/16/7/16;
}

.number117 {
    grid-area: 7/17/7/17;
}

.number118 {
    grid-area: 7/18/7/18;
}

.borderNumber1 {
    grid-area: 1/1/1/1;
}

.borderNumber2 {
    grid-area: 1/18/1/18;
}

.borderNumber3 {
    grid-area: 2/1/2/1;
}

.borderNumber4 {
    grid-area: 2/2/2/2;
}

.borderNumber5 {
    grid-area: 2/13/2/13;
}

.borderNumber6 {
    grid-area: 2/14/2/14;
}

.borderNumber7 {
    grid-area: 2/15/2/15;
}

.borderNumber8 {
    grid-area: 2/16/2/16;
}

.borderNumber9 {
    grid-area: 2/17/2/17;
}

.borderNumber10 {
    grid-area: 2/18/2/18;
}

.borderNumber11 {
    grid-area: 3/1/3/1;
}

.borderNumber12 {
    grid-area: 3/2/3/2;
}

.borderNumber13 {
    grid-area: 3/13/3/13;
}

.borderNumber14 {
    grid-area: 3/14/3/14;
}

.borderNumber15 {
    grid-area: 3/15/3/15;
}

.borderNumber16 {
    grid-area: 3/16/3/16;
}

.borderNumber17 {
    grid-area: 3/17/3/17;
}

.borderNumber18 {
    grid-area: 3/18/3/18;
}

.borderNumber19 {
    grid-area: 4/1/4/1;
}

.borderNumber20 {
    grid-area: 4/2/4/2;
}

.borderNumber21 {
    grid-area: 4/3/4/3;
}

.borderNumber22 {
    grid-area: 4/4/4/4;
}

.borderNumber23 {
    grid-area: 4/5/4/5;
}

.borderNumber24 {
    grid-area: 4/6/4/6;
}

.borderNumber25 {
    grid-area: 4/7/4/7;
}

.borderNumber26 {
    grid-area: 4/8/4/8;
}

.borderNumber27 {
    grid-area: 4/9/4/9;
}

.borderNumber28 {
    grid-area: 4/10/4/10;
}

.borderNumber29 {
    grid-area: 4/11/4/11;
}

.borderNumber30 {
    grid-area: 4/12/4/12;
}

.borderNumber31 {
    grid-area: 4/13/4/13;
}

.borderNumber32 {
    grid-area: 4/14/4/14;
}

.borderNumber33 {
    grid-area: 4/15/4/15;
}

.borderNumber34 {
    grid-area: 4/16/4/16;
}

.borderNumber35 {
    grid-area: 4/17/4/17;
}

.borderNumber36 {
    grid-area: 4/18/4/18;
}

.borderNumber37 {
    grid-area: 5/1/5/1;
}

.borderNumber38 {
    grid-area: 5/2/5/2;
}

.borderNumber39 {
    grid-area: 5/3/5/3;
}

.borderNumber40 {
    grid-area: 5/4/5/4;
}

.borderNumber41 {
    grid-area: 5/5/5/5;
}

.borderNumber42 {
    grid-area: 5/6/5/6;
}

.borderNumber43 {
    grid-area: 5/7/5/7;
}

.borderNumber44 {
    grid-area: 5/8/5/8;
}

.borderNumber45 {
    grid-area: 5/9/5/9;
}

.borderNumber46 {
    grid-area: 5/10/5/10;
}

.borderNumber47 {
    grid-area: 5/11/5/11;
}

.borderNumber48 {
    grid-area: 5/12/5/12;
}

.borderNumber49 {
    grid-area: 5/13/5/13;
}

.borderNumber50 {
    grid-area: 5/14/5/14;
}

.borderNumber51 {
    grid-area: 5/15/5/15;
}

.borderNumber52 {
    grid-area: 5/16/5/16;
}

.borderNumber53 {
    grid-area: 5/17/5/17;
}

.borderNumber54 {
    grid-area: 5/18/5/18;
}

.borderNumber55 {
    grid-area: 6/1/6/1;
}

.borderNumber56 {
    grid-area: 6/2/6/2;
}

.borderNumber57 {
    grid-area: 9/3/9/3;
}

.borderNumber58 {
    grid-area: 9/4/9/4;
}

.borderNumber59 {
    grid-area: 9/5/9/5;
}

.borderNumber60 {
    grid-area: 9/6/9/6;
}

.borderNumber61 {
    grid-area: 9/7/9/7;
}

.borderNumber62 {
    grid-area: 9/8/9/8;
}

.borderNumber63 {
    grid-area: 9/9/9/9;
}

.borderNumber64 {
    grid-area: 9/10/9/10;
}

.borderNumber65 {
    grid-area: 9/11/9/11;
}

.borderNumber66 {
    grid-area: 9/12/9/12;
}

.borderNumber67 {
    grid-area: 9/13/9/13;
}

.borderNumber68 {
    grid-area: 9/14/9/14;
}

.borderNumber69 {
    grid-area: 9/15/9/15;
}

.borderNumber70 {
    grid-area: 9/16/9/16;
}

.borderNumber71 {
    grid-area: 9/17/9/17;
}

.borderNumber72 {
    grid-area: 6/4/6/4;
}

.borderNumber73 {
    grid-area: 6/5/6/5;
}

.borderNumber74 {
    grid-area: 6/6/6/6;
}

.borderNumber75 {
    grid-area: 6/7/6/7;
}

.borderNumber76 {
    grid-area: 6/8/6/8;
}

.borderNumber77 {
    grid-area: 6/9/6/9;
}

.borderNumber78 {
    grid-area: 6/10/6/10;
}

.borderNumber79 {
    grid-area: 6/11/6/11;
}

.borderNumber80 {
    grid-area: 6/12/6/12;
}

.borderNumber81 {
    grid-area: 6/13/6/13;
}

.borderNumber82 {
    grid-area: 6/14/6/14;
}

.borderNumber83 {
    grid-area: 6/15/6/15;
}

.borderNumber84 {
    grid-area: 6/16/6/16;
}

.borderNumber85 {
    grid-area: 6/17/6/17;
}

.borderNumber86 {
    grid-area: 6/18/6/18;
}

.borderNumber87 {
    grid-area: 7/1/7/1;
}

.borderNumber88 {
    grid-area: 7/2/7/2;
}

.borderNumber89 {
    grid-area: 10/3/10/3;
}

.borderNumber90 {
    grid-area: 10/4/10/4;
}

.borderNumber91 {
    grid-area: 10/5/10/5;
}

.borderNumber92 {
    grid-area: 10/6/10/6;
}

.borderNumber93 {
    grid-area: 10/7/10/7;
}

.borderNumber94 {
    grid-area: 10/8/10/8;
}

.borderNumber95 {
    grid-area: 10/9/10/9;
}

.borderNumber96 {
    grid-area: 10/10/10/10;
}

.borderNumber97 {
    grid-area: 10/11/10/11;
}

.borderNumber98 {
    grid-area: 10/12/10/12;
}

.borderNumber99 {
    grid-area: 10/13/10/13;
}

.borderNumber100 {
    grid-area: 10/14/10/14;
}

.borderNumber101 {
    grid-area: 10/15/10/15;
}

.borderNumber102 {
    grid-area: 10/16/10/16;
}

.borderNumber103 {
    grid-area: 10/17/10/17;
}

.borderNumber104 {
    grid-area: 7/4/7/4;
}

.borderNumber105 {
    grid-area: 7/5/7/5;
}

.borderNumber106 {
    grid-area: 7/6/7/6;
}

.borderNumber107 {
    grid-area: 7/7/7/7;
}

.borderNumber108 {
    grid-area: 7/8/7/8;
}

.borderNumber109 {
    grid-area: 7/9/7/9;
}

.borderNumber110 {
    grid-area: 7/10/7/10;
}

.borderNumber111 {
    grid-area: 7/11/7/11;
}

.borderNumber112 {
    grid-area: 7/12/7/12;
}

.borderNumber113 {
    grid-area: 7/13/7/13;
}

.borderNumber114 {
    grid-area: 7/14/7/14;
}

.borderNumber115 {
    grid-area: 7/15/7/15;
}

.borderNumber116 {
    grid-area: 7/16/7/16;
}

.borderNumber117 {
    grid-area: 7/17/7/17;
}

.borderNumber118 {
    grid-area: 7/18/7/18;
}
